*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}


button{
    background-color: white;

    border: none;
    border-radius: 20px;
    margin-top: 30px;
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
}
button a{
    text-decoration: none;
    color: #f0278c;
}
button a:hover{
    color: white;
}

button:hover{
    background-color: transparent;
    color: white;
    border: 2px solid white;
}


.caixa{
    background-color: #f0278c;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;
    margin: 20% 30%;
    border-radius: 20px;
    box-shadow: 0 0 25px rgb(228, 61, 192);
}

.caixa2{
    background-color: #f0278c;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;
    margin: 20% 30%;
    border-radius: 20px;
    box-shadow: 0 0 25px rgb(228, 61, 192);
}

body {
    text-align: center;
}


        h1 {
            padding: 20px;
            font-size: 3em;
            color: white;
        }

        .caixa2 p {
            font-size: 1.2em;
            max-width: 700px;
            margin: 0 auto;
            line-height: 1.6;
            color: white;
        }

        footer {
            background-color: #f57aca;
            padding: 15px;
            font-size: 0.9em;
            color: white;
            position: fixed;
            width: 100%;
            bottom: 0;
        }

        .versiculo {
            background-color: white;
            padding: 30px 20px;
            margin: 30px auto;
            font-style: italic;
            color: #f0278c;
            font-size: 1.2em;
            max-width: 700px;
            border-left: 5px solid #ff69b4;
        }
